/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: #fff;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #e24237;
    color: rgb(255, 255, 255);
}

/* LOGO */
.logo img {
    height: 80px; width: 150px;
}

/* NAVIGATION */
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffdede;
}

/* HEADER BUTTONS */
.header-buttons button {
    margin-left: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.header-buttons button:first-child {
    background: white;
    color: #e23744;
}

.header-buttons button:last-child {
    background: white;
    color: white;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("../bp.png.webp");
    background-size: cover;
    background-position: center;
    color: white;
}

.hero img {
    height: 250px;
    margin-bottom: 50px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 25px;
}

.hero input {
    width: 60%;
    max-width: 500px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* INFO SECTION */
.info {
    padding: 60px 20px;
    text-align: center;
}

.info h2 {
    margin-bottom: 15px;
    color: #e23744;
}

/* SERVICES */
.services {
    padding: 60px 20px;
    background: #f8f8f8;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
    color: #e23744;
}

.services div {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ABOUT */
.about {
    padding: 60px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    background: #e23744;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero input {
        width: 90%;
    }
}
